.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  pointer-events: auto;
  width: 100%;
  background: transparent;
  padding: 3.9px 26px;
  transition: background-color 0.3s ease-out, backdrop-filter 0.3s ease-out;
  text-overflow: clip;

  &.scrolled {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    &.dark {
      background: rgba(10, 4, 22, 0.8);
    }
    
    &.light {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
    
    &.scrolled {
      &.dark {
        background: rgba(10, 4, 22, 0.9);
      }
      
      &.light {
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .container {
    justify-content: space-between;
  }
}